<h2>List papers for <a href=<%= link %>><%= descr %></a></h2>

<p>

<ol>

<% papers.each do |paper| %>

  <li>
    <a href="<%= paper.url %>"><%= paper.title %></a> by
    <%= paper.authors.join(", ") %>
  </li>

<% end %>

</ol>

<hr>

<div>
<% bhs.each_key do |k| %>
[ <a href="/list?bh=<%= k %>"/a><%= k %></a> ]&nbsp;
<% end %>
</div>